2. Variables

#Siempre iniciar con letra o guion a bajo

In [1]:
edad = 41
edad

41

In [2]:
Nombre = "Willy"
Nombre

'Willy'

In [3]:
Apellido = "Delgado Tuanama"
Apellido

'Delgado Tuanama'

In [4]:
NombreCompleto = Nombre + " " + Apellido
NombreCompleto

'Willy Delgado Tuanama'

In [5]:
#Para saber el tipo de variable utilizamos funcion type()
#Ejemplo:
numero = 50
type(numero)

int

In [6]:
Talla = 1.68
Talla
type(Talla)

float

In [7]:
#Para convertir un numero a cadena utilizamos str()
numero = 100
cadena = str(numero)

In [8]:
cadena

'100'

In [9]:
type(cadena)

str

In [10]:
# Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [11]:
type(numero2)

int

In [12]:
#Para convertir una cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [13]:
type(numero2)

float